<div class='main-page'>
    <div class="frame">
        <div class="frame-content">
            <div class="frame-content-header">
                <div class="frame-header">
                    <div class="frame-header-speaker"></div>
                    <div class="frame-header-camera"></div>
                </div>
            </div>
            <app-lock-screen></app-lock-screen>
            <div class="frame-content-bottom">
                <div class="bottom-shape"></div>
            </div>
        </div>
    </div>
</div>
