@import '../../styles.scss';

div .lock-screen-prompt {
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 35%;
    text-align: center;
    .prompt-message {
        color: white;
        font-size: 15px;
        padding-left: 10px;
    }
    .input-bubble-indicator {
        height: 20px;
        margin-top: 10px;
        width: 100%;
        div[class^="bubble-"]{
            display: inline-block;
            position: relative;
            margin: auto 5px;
            height: 7px;
            width: 7px;
            border: 1.5px solid #d1d1ce;
            border-radius: 7px;
        }
    }

}
div .lock-screen-digits {
    position: relative;
    margin-top: 60px;
    height: 65%;
    background: transparent;
    padding: 10px;
    text-align:center;
}

button[class^="passcode-"] {
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 35px;
    display: inline-block;
    margin: 8px 8px;
    cursor: pointer;
    background-color: rgba(59, 57, 57, 0.178);
    padding: 0;
    &.passcode-empty {
        display: none;
    }
}

div .digit-text {
    color: white;
    padding-top: 2px;
}
