<div class='lock-screen-page'>
    <div class='lock-screen-prompt'>
        <div class='prompt-message'>Enter Passcode</div>
        <div class='input-bubble-indicator'>
            <div class='bubble-1' [style.background-color]="bubbleFilled[0] ? '#bbb' : '#fff'"></div>
            <div class='bubble-2' [style.background-color]="bubbleFilled[1] ? '#bbb' : '#fff'"></div>
            <div class='bubble-3' [style.background-color]="bubbleFilled[2] ? '#bbb' : '#fff'"></div>
            <div class='bubble-4' [style.background-color]="bubbleFilled[3] ? '#bbb' : '#fff'"></div>
        </div>
    </div>
    <div class='lock-screen-digits'>
        <button #digit1 class='passcode-1' (click)='passcodePressHandler(digit1.innerText)'>
            <div class='digit-text'>1</div>
        </button>
        <button #digit2 class='passcode-2' (click)='passcodePressHandler(digit2.innerText)'>
            <div class='digit-text'>2</div>
        </button>
        <button #digit3 class='passcode-3' (click)='passcodePressHandler(digit3.innerText)'>
            <div class='digit-text'>3</div>
        </button>
        <button #digit4 class='passcode-4' (click)='passcodePressHandler(digit4.innerText)'>
            <div class='digit-text'>4</div>
        </button>
        <button #digit5 class='passcode-5' (click)='passcodePressHandler(digit5.innerText)'>
            <div class='digit-text'>5</div>
        </button>
        <button #digit6 class='passcode-6' (click)='passcodePressHandler(digit6.innerText)'>
            <div class='digit-text'>6</div>
        </button>
        <button #digit7 class='passcode-7' (click)='passcodePressHandler(digit7.innerText)'>
            <div class='digit-text'>7</div>
        </button>
        <button #digit8 class='passcode-8' (click)='passcodePressHandler(digit8.innerText)'>
            <div class='digit-text'>8</div>
        </button>
        <button #digit9 class='passcode-9' (click)='passcodePressHandler(digit9.innerText)'>
            <div class='digit-text'>9</div>
        </button>
        <button class='passcode-empty'>
        </button>
        <button #digit0 class='passcode-0' (click)='passcodePressHandler(digit0.innerText)'>
            <div class='digit-text'>0</div>
        </button>
        <button class='passcode-empty'>
        </button>
    </div>
</div>
