<div class='lock-screen-page'>
    <div class='lock-screen-prompt'>
        <div class='prompt-message'>Enter Passcode</div>
        <div class='input-bubble-indicator'>
            <div class='bubble-1'></div>
            <div class='bubble-2'></div>
            <div class='bubble-3'></div>
            <div class='bubble-4'></div>
        </div>
    </div>
    <div class='lock-screen-digits'>
        <div class='passcode-1'>
            <div class='digit-text'>1</div>
        </div>
        <div class='passcode-2'>
            <div class='digit-text'>2</div>
        </div>
        <div class='passcode-3'>
            <div class='digit-text'>3</div>
        </div>
        <div class='passcode-4'>
            <div class='digit-text'>4</div>
        </div>
        <div class='passcode-5'>
            <div class='digit-text'>5</div>
        </div>
        <div class='passcode-6'>
            <div class='digit-text'>6</div>
        </div>
        <div class='passcode-7'>
            <div class='digit-text'>7</div>
        </div>
        <div class='passcode-8'>
            <div class='digit-text'>8</div>
        </div>
        <div class='passcode-9'>
            <div class='digit-text'>9</div>
        </div>
        <div class='passcode-empty'>
        </div>
        <div class='passcode-0'>
            <div class='digit-text'>0</div>
        </div>
        <div class='passcode-empty'>
        </div>
    </div>
</div>
